<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인</h1>
<p>게임을 하려면 로그인하세요. 계정이 없으면 회원가입 페이지에서 만들어 주세요.</p>
<hr>

<form action="/user/login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" name="username" placeholder="아이디 또는 이메일을 입력해주세요" style="width:260px; height:28px; display:block; margin-bottom:8px;">
    <input type="password" name="password" placeholder="비밀번호" style="width:260px; height:28px; display:block; margin-bottom:8px;">
    <button type="submit">로그인</button>
</form>
</body>
</html>
