<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>채팅 서비스</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">

    <form class="form-signing" action="/room/new" th:object="${form}" method= "post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h2 class="form-signing-heading">새로운 게임방 생성</h2>
        <p>두 명이 입장하면 게임을 시작할 수 있습니다. 방 이름을 입력해 주세요.</p>
        <label for="title" class="sr-only">게임방 이름</label>
        <input type="text" th:field="*{name}" id="title" class="form-control" placeholder="게임방 이름을 입력해주세요" required autofocus>
        <br>
        <button class="btn btn-primary" type="submit">생성하기</button>
        <button class="btn btn-danger" onclick = "location.href='/start'" type="button">돌아가기</button>
    </form>

</div> <!-- /container -->


</body>
</html>
